<!DOCTYPE html>
<html>
<head>
  <title>Fiat stripe</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "fiat_stripe/application", media: "all" %>
  <%= javascript_include_tag "fiat_stripe/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
